#navbanner{
    position: fixed;
    width: 100vw;
    color: #ffffff;
}

.container{
    height: 280px;
    padding: 100px;
}

.sect {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.One {
    background-image: url("../img/pexels.jpeg");
    height: 400px;
}

.row{
    -item-align: center;
}

.Four {
    background-image: url("../img/dwyw.jpeg");
    height: 400px;
}