{% extends 'base.html' %}

{% block content%}
<div class="container">
    <h3>Dear Uber <br> Please work, Instagram didn't.</h3>
</div>
<div class="sect One">

</div>
<div class="container-fluid">
    <div class="row" style="margin: 7em ;">
        <div class="col-md-4">
            <img src="../static/img/svg1.png" style="max-width:30%;
  max-height:30%;">
            <h5>Easiest way around</h5>
            <p>One tap and a car comes directly to you. Hop in—your driver knows exactly where to go. And when you get there, just step out. Payment is completely seamless.</p>

        </div>
        <div class="col-md-4">
            <img src="../static/img/svg2.png" style="max-width:30%;
  max-height:100%;">
            <h5>Anywhere, anytime</h5>
            <p>Daily commute. Errand across town. Early morning flight. Late night drinks. Wherever you’re headed, count on Uber for a ride—no reservations required.</p>
        </div>
        <div class="col-md-4">
            <img src="../static/img/svg3.jpeg" style="max-width:30%;
  max-height:30%;">
            <h5>Low-cost to luxury</h5>
            <p>Economy cars at everyday prices are always available. For special occasions, no occasion at all, or when you just a need a bit more room, call a black car or SUV.</p>

        </div>
        <div>
            <button type="button" class="btn btn-dark" style="padding: 10px;">REASONS TO RIDE<i class="fas fa-long-arrow-alt-right" style="margin-left:20px;"></i></button>
        </div>
    </div>
    <div class="sect Three">
        <div class="row">
            <div class="col-md-4" style="margin-left: 60px">
                <h4>Pricing</h4>
                <h2>Get a fare estimate</h2>
                <form>
                    <input type="" name="" placeholder="Enter pickup location">
                </form>
                <br>
                <form>
                    <input type="" name="" placeholder="Enter destination">
                </form>

            </div>
            <div class="col-md-6" >
                <img src="../static/img/nairobi.jpg" style="max-width: 100%">

            </div>

        </div>

    </div>
    <div class="container" style="margin: 20px;">
        <h1>Meet the Drivers</h1>
        <br>
        <h4>They can't wait to meet you!</h4>
    </div>
    <div class="container-fluid" style="background: url("static/img/dwyw.jpeg")">
        <div class="row">
            <div class="col-md-4">
                <img src="../static/img/driver1.jpeg" alt="">
                <p>"I started driving with Uber because I liked the idea that my own car could make me money. After just about a couple weeks, I saw that this was something I wanted to do permanently."</p>
                <br>
                <p><strong>Brandon</strong>, Coach and Chicago partner</p>

            </div>
            <div class="col-md-4">
                <img src="../static/img/driver3.jpeg">
                <p>"I wanted something where I could meet new people and get out of the house. Uber has helped with both of those things, plus I’m seeing new parts of the city I’ve never seen before!"</p>
                <br>
                <p><strong>Katrina</strong>, Mother and Seattle partner</p>

            </div>
            <div class="col-md-4">
                <img src="../static/img/driver4.jpeg" alt="">
                <p>"Uber enables me to have the creative freedom for baking my cakes and also driving on the side so I can make more money and also have my dream job."</p>
                <br>
                <p><strong>John</strong>, Business owner</p>

            </div>

        </div>
    </div>
    <div class="well">
        <img src="../static/img/foot.png" style="height:50vh; width:190vh;">
        <img src="../static/img/blacky3.jpg" style="width:190vh;">

    </div>


</div>


{% endblock %}