{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbanner">
  <a class="navbar-brand" href="#}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <img src="../static/img/logo.png" style="height: 60px;">
      </li>
      <li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="#" style="float: right"><p>Ride</p><span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a class="nav-link" href="#" style="float: right"><p>Drive</p><span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
        <li>
            <a class="nav-link" href="#" style="float: right"><p>HELP</p><span class="sr-only">(current)</span></a>
        </li>
        <li>
            <a class="nav-link" href="#" style="float: right"><p>SIGN IN</p><span class="sr-only">(current)</span></a>
        </li>
        <li>
            <a class="nav-link" href="#" style="float: right"><i class="fas fa-search"></i><span class="sr-only">(current)</span></a>
        </li>
        <li>
            <a class="nav-link" href="#" style="float: right"><i class="fas fa-map-marker"></i><span class="sr-only">(current)</span></a>
        </li>
        <li>
            <button type="button" class="btn btn-dark">Become a Driver</button>
        </li>
        <li>
            <a class="nav-link" href="#" style="float: right"><i class="fas fa-bars"></i><span class="sr-only">(current)</span></a>
        </li>

    </ul>

  </div>
</nav>
{% endblock %}